*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.d-flex{
  display: flex;
}
.debug{
  
  border: solid 1px black
}
.container{
  width: 90%;
max-width: 1200px;
margin: 0 auto;
}

/* qui iniziano i  vari stili dei contenitori */
.container-main{
  width: 90%;
max-width: 1200px;
margin: 100px auto;
flex-wrap: wrap;
justify-content: space-around;
}



.header-top{
  width: 100%;
  background-color: rgb(211, 117, 10);
  position: fixed;
  top: 0;
  box-shadow:10px 10px;
}

#logo{
  max-width: 200px;
}

.container-head{
  width: 90%;
max-width: 1200px;
margin: 0 auto;
justify-content: space-between;
align-items: center;
color: white;

}

.product{
  position: relative;
  cursor: pointer;
}

.product:hover .heart{
  color: red;
}

.img1{
  display: block;
}
.img2{
  display: none;
}
.product:hover .img1{
  display: none;
}

.product:hover .img2{
  display: block;
}

.discount{
  position: absolute;
  bottom: 120px;
  left: 0;
  background-color: red;
  color: white;
  padding: 10px;
}

.heart{
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: white;
  padding: 10px 20px;
}

img{
  max-width: 350px;

}

.marca{
  color: rgb(126, 121, 121);
}
.red-price{
  color: red;
}

.barred-price{
  text-decoration: line-through;
}



.container-foot{
  width: 100%;
  color: white;
  height: 200px;
  border-bottom: 1px solid white;
  background-color: black;

}

ul li{
  list-style: none;
}


.footsx{
  width: 50%;
  background-color: rgb(8, 82, 57);
}

.footdx{
  width: 50%;
  background-color: rgb(227, 192, 150);
}

.legal{
  margin-top: 20px;

}

 h4{
  margin-top: 30px;
  
 } 